@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300;400;500;700&display=swap');


:root {
    /* variaveis de manipulação js */
    --color-primary-hue: 46; 
    --dark-color-lightness: 17%;
    --light-color-lightness: 95%;
    --white-color-lightness: 100%;


    --color-white: hsl(252,30%, var(--white-color-lightness));
    --color-light: hsl(252,30%, var(--light-color-lightness));
    --color-super-light: #e0e0e0;
    --color-gray: hsl(var(--color-primary-hue),15%,60%);

    --color-primary: hsl(var(--color-primary-hue), 100%, 49%);
    --color-secundary: hsl(var(--color-primary-hue),100%,80%);

    --color-success: hsl(120,95%,65%);
    --color-danger: hsl(0,95%,65%);

    --color-dark: hsl(252, 30%, var(--dark-color-lightness));
    --color-black: hsl(252,30%,10%);

    /* artributs */

    --border-radius: 1rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 1rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;    
    --sticky-top-rigth: -18rem;
}

body {

    color: var(--color-dark);
    background: rebeccapurple;
}

/* ======= GERAL STYLE ======== */

::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-thumb {
    border-radius: 5rem;
    background: var(--color-gray);
}

.logo img {
    width: 50px;
}
a {
    color: var(--color-dark);
}
.logo {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}


.container {
    width: 80%;
    margin: 0 auto;
}

.profile-photo {
    width: 2.7rem;
    overflow: hidden;
    /* aspect-ratio: 1/1; */
    border-radius: 50%;
}

img {
    width: 100%;
    display: block;
}


/* =========  NAV TOP  ========== */
nav {
    width: 100%;
    height: 64px;
    background: var(--color-white);
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .container .create {
    display: flex;
    align-items: center;
}

nav .container .create i {
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}


nav .container h2 img {
    width: 4rem;
}
/* ================================== MAIN ==================================== */
main {
    display: grid;
    height: calc(100vh - 64px);
    grid-template-columns: 70px calc(100vw - 70px);
}

/* ===============  SIDEBAR LATERAL ================= */


main > section:nth-child(1).open  {
    display: block;
}

main > section:nth-child(1).close  {
    display: none;
}

main > section:nth-child(1) .sidebar {
    height: calc(100vh - 64px);
    background: var(--color-white);
    border-right: 1px solid var(--color-light);

}

main .sidebar .menu-item {
    width: 100%;
    height: 4rem;
    display: flex;
    cursor: pointer;
    position: relative;
    align-items: center;
    margin-bottom: .5rem;
    flex-direction: column;
    justify-content: center;
    transition: all 300ms ease;

}

/* -------------- Elemento Abbr -------------- */

main .sidebar .menu-item .abbr-menu-item {
    /* Cria o elemento de abbr na telar */
    top: 15px;
    left: 80px;
    display: none;
    position: absolute;
    border-radius: 6px;
    background: var(--color-super-light);
    box-shadow: 0 0 .2em 0 rgb(0, 0, 0,.3);
}

main .sidebar .menu-item:hover .abbr-menu-item {
    display: block;
    /* Faz aparecer o elemento de abbr na tela após o hover */
}

main .sidebar .menu-item .abbr-menu-item div {
    padding: .5rem;
    position: relative
}

/* -------------- Fim do Elemento Abbr -------------- */

main .sidebar .menu-item i .notification-count {
    top: 5px;
    right: 10px;
    width: 17px;
    height: 17px;
    display: flex;
    color: white;
    font-size: .5rem;
    border-radius: 50%;
    position: absolute;
    align-items: center;
    justify-content: center;
    background: var(--color-danger)
}

main .sidebar .menu-item i {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    transition: all 700ms;
    color: var(--color-gray);
    background: var(--color-super-light);
}

main .sidebar a:hover i,
main .sidebar a.active i {
    border-radius: 10px;
    color: var(--color-white);
    background: var(--color-primary);
}

main .sidebar a.menu-item::before {
    content: '';
    left: -5px;
    height: 0%;
    width: 0px;
    position: absolute;
    transition: all 400ms;
    border-radius: 0px 6px 6px 0px;
    background: var(--color-primary);
}

main .sidebar a.menu-item:hover::before {
    height: 50%;
    width: 10px;
}

main .sidebar a.menu-item.active::before {
    height: 70%;
    width: 10px;
}

/* ------------ NOTIFICATION POPUP ------------------- */
main .sidebar .menu-item .notifications-popup {
    top: 0;
    z-index: 8;
    left: 120%;
    width: 30rem;
    min-height: -moz-fit-content;
    min-height: fit-content;
    position: absolute;
    padding: var(--card-padding);
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.3);

    display: none;/* Aparee e desaparece com JS */
}

main .sidebar .menu-item .notifications-popup::before {
    content: "";
    left: -.6rem;
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    transform: rotate(45deg);
    background: var(--color-white);
}

main .sidebar .menu-item .notifications-popup > div {
    display: flex;
    gap: .1rem;
    overflow-y: scroll;
    flex-direction: column;
    height: calc(calc(44px + 1rem)* 6);
}

main .sidebar .menu-item .notifications-popup > div > div {
    gap: 1rem;
    display: flex;
    align-items: start;
    padding: .5rem 0rem .5rem 0;
}

main .sidebar .menu-item .notifications-popup > div > div:hover {
    background: var(--color-light);
}

main .sidebar .menu-item .notifications-popup > div > div p {
    width: 350px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}

.left .notifications-popup small {
    display: block;
}

/* ================================  CHAT MESSAGES =========================== */
main > section#Sel-chat {
    display: grid;
    grid-template-columns: 22vw 72.3vw;
}

/* ---------------  chat  ----------------- */
main > section#Sel-chat > section {
    height: 603px;
    background: var(--color-white);
}

section#Sel-chat > section .top-select-chat {
    padding: var(--card-padding);
    border-bottom: 1px solid var(--color-light);
}

/* ----------- Cabeçalho --------- */
section#Sel-chat > section .top-select-chat div:nth-child(1) {
    display: flex;
    padding: 0 0 1rem 0;
    align-items: center;
    justify-content: space-between;
}

.search-bar {
    display: flex;
    background: var(--color-light);
    padding: var(--search-padding);
    border-radius: var(--border-radius);
}

.search-bar input[type="search"] {
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    background: transparent;
    color: var(--color-dark);
}

.search-bar input[type="search"]::placeholder {
    color: var(--color-gray);
}

/* ----------- conversas --------- */
.cont-conversas {
    height: 81%;
    overflow-y: scroll;
}

.cont-conversas .message-grup {
    gap: .7rem;
    height: 60px;
    display: flex;
    cursor: pointer;
    padding: 0 .5rem;
    position: relative;
    align-items: center;
    margin-bottom: .5rem;
}

.cont-conversas .message-grup:hover {
    background: var(--color-light);
}

.cont-conversas .message-grup .lastMessage{
    font-size: .8rem;
    margin-top: .2rem;
    color: var(--color-gray);
}

.cont-conversas .message-grup img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.cont-conversas .message-grup .count-hours {
    position: absolute;
    top: 5px;
    right: 7px;
}

.cont-conversas .message-grup .messages-count {
    width: 15px;
    height: 15px;
    right: 7px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    color: var(--color-white);
    transform: translateY(-20px);
    background: var(--color-primary);
}



/* =======================  viewport-chats ======================== */

main section#viewport-chats {
    display: grid;
    grid-template-rows: calc(100vh - 114px) 50px;
}

main section#viewport-chats div:nth-child(1) {
    background: rgb(89, 84, 97);
}

main section#viewport-chats div:nth-child(2) {
    background: var(--color-white);
} 


/*===============================
MEDAIA QUERIS FOR SMALL LAPTOS AND BIG TABLETS
============================
*/
@media screen and (max-width: 1200px) {
    main > section#Sel-chat {
        display: grid;
        grid-template-columns: 100%;
    }

    main > section#Sel-chat section:nth-child(1) {
        display: none;
    }
}


/*===============================
MEDAIA QUERIS FOR SMALL TABLETS AND MOBILE PHONES
============================
*/
@media screen and (max-width: 992px) {
    main {
        height: calc(100vh - 50px);
        display: grid;
        grid-template-columns: 100vw;
    }

    nav .container .create .profile-photo {
        display: none;
    }

    nav .container .create i {
        display: block;
    }
    
    nav .container .create i.fa-xmark {
        font-size: 2rem;
    }

    /* --------------  Sidebar (modal) -------------- */
    main > section:nth-child(1)/* classe: container-sidebar */ {
        top: 64px;
        left: 0;
        z-index: 9;
        width: 100vw;
        position: fixed;
        height: calc(100vh - 64px);
        background: rgb(0, 0, 0,.3);
    }
    
    main > section:nth-child(1) .sidebar {
        margin: 0 auto;
        width: calc(100vw - 30vw);
        border-top: 1px solid var(--color-light);
    }

    main > section:nth-child(1) .sidebar .menu-item {
        display: flex;
        padding: 0 4rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    main > section:nth-child(1) .sidebar .menu-item:hover {
        background: var(--color-light);
    }

    /* -------------- Elemento Abbr -------------- */

    main .sidebar .menu-item .abbr-menu-item {
        box-shadow: none;
        position: static;
        border-radius: 6px;
        display: inline-block;
    }

    /* -------------- Fim do Elemento Abbr -------------- */

/* -------------- Fim do Sidebar (modal) -------------- */

    main section#S2-2-DIV-1 {
        grid-template-rows: calc(100vh - 150px) 50px;
    }
}