@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@300;400;500;700&display=swap');


:root {
    /* variaveis de manipulação js */
    --color-primary-hue: 46; 
    --dark-color-lightness: 17%;
    --light-color-lightness: 95%;
    --white-color-lightness: 100%;


    --color-white: hsl(252,30%, var(--white-color-lightness));
    --color-light: hsl(252,30%, var(--light-color-lightness));
    --color-super-light:hsl(230, 0%, var(--light-color-lightness));
    --color-gray: hsl(var(--color-primary-hue),15%,60%);

    --color-primary: hsl(var(--color-primary-hue), 100%, 49%);
    --color-secundary: hsl(var(--color-primary-hue),100%,80%);

    --color-success: hsl(120,95%,65%);
    --color-danger: hsl(0,95%,65%);

    --color-dark: hsl(252, 30%, var(--dark-color-lightness));
    --color-black: hsl(252,30%,10%);

    /* artributs */

    --border-radius: 1rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 1rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;    
    --sticky-top-rigth: -18rem;
}

body {
    color: var(--color-dark);
}

/* ======= GERAL STYLE ======== */

::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-thumb {
    border-radius: 5rem;
    background: var(--color-gray);
}

.logo img {
    width: 50px;
}
a {
    color: var(--color-dark);
}
.logo {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}


.container {
    width: 80%;
    margin: 0 auto;
}

.profile-photo {
    width: 2.7rem;
    overflow: hidden;
    /* aspect-ratio: 1/1; */
    border-radius: 50%;
}

img {
    width: 100%;
    display: block;
}


/* =========  NAV TOP  ========== */
nav {
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 64px;
    position: fixed;
    background: var(--color-white);
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .container .create {
    display: flex;
    align-items: center;
}

nav .container .create i {
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}


nav .container h2 img {
    width: 4rem;
}

/* ===============  SIDEBAR LATERAL ================= */

main .sidebar .menu-item {
    width: 100%;
    height: 4rem;
    display: flex;
    cursor: pointer;
    position: relative;
    align-items: center;
    margin-bottom: .5rem;
    flex-direction: column;
    justify-content: center;
    transition: all 300ms ease;

}

/* -------------- Elemento Abbr -------------- */

main .sidebar .menu-item .abbr-menu-item {
    /* Cria o elemento de abbr na telar */
    top: 15px;
    left: 80px;
    display: none;
    position: absolute;
    border-radius: 6px;
    background: var(--color-super-light);
    box-shadow: 0 0 .2em 0 rgb(0, 0, 0,.3);
}

main .sidebar .menu-item:hover .abbr-menu-item {
    display: block;
    /* Faz aparecer o elemento de abbr na tela após o hover */
}

main .sidebar .menu-item .abbr-menu-item div {
    padding: .5rem;
    position: relative
}

/* -------------- Fim do Elemento Abbr -------------- */

main .sidebar .menu-item i {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    transition: all 700ms;
    color: var(--color-gray);
    background: var(--color-super-light);
}

main .sidebar a:hover i,
main .sidebar a.active i {
    border-radius: 10px;
    color: var(--color-white);
    background: var(--color-primary);
}

main .sidebar a.menu-item::before {
    content: '';
    left: -5px;
    height: 0%;
    width: 0px;
    position: absolute;
    transition: all 400ms;
    border-radius: 0px 6px 6px 0px;
    background: var(--color-primary);
}

main .sidebar a.menu-item:hover::before {
    height: 50%;
    width: 10px;
}

main .sidebar a.menu-item.active::before {
    height: 70%;
    width: 10px;
}







/* =======================  resp ======================== */
main {
    display: grid;
    background: #808080;
    height: calc(100vh - 70px);
    transform: translateY(64px);
    grid-template-columns: 70px calc(100vw - 70px);
}

main > section:nth-child(1) {
    background: #cc4040;
}

main > section:nth-child(2) {
    background: #d1d1d1;
}


main > section#io {
    display: grid;
    grid-template-columns: 22vw 72.3vw;
}

main > section#io section:nth-child(1) {
    background: rgb(255, 174, 108);
}

main > section#io section:nth-child(2) {
    background: chocolate;
}


main section#S2-2-DIV-1 {
    display: grid;
    grid-template-rows: calc(100vh - 100px) 50px;
}

main section#S2-2-DIV-1 div:nth-child(1) {
    background: rgb(89, 84, 97);
}

main section#S2-2-DIV-1 div:nth-child(2) {
    background: rgb(97, 70, 3);
} 


/*===============================
MEDAIA QUERIS FOR SMALL LAPTOS AND BIG TABLETS
============================
*/
@media screen and (max-width: 1200px) {
    main > section#io {
        display: grid;
        grid-template-columns: 100%;
    }

    main > section#io section:nth-child(1) {
        display: none;
    }
}

/*===============================
MEDAIA QUERIS FOR SMALL TABLETS AND MOBILE PHONES
============================
*/
@media screen and (max-width: 992px) {
    main {
        height: calc(100vh - 50px);
        display: grid;
        grid-template-columns: 100vw;
    }

    nav {
        z-index: -10;
        position: absolute;
    }

    nav .container .create .profile-photo {
        display: none;
    }

    nav .container .create i {
        display: block;
    }

    /* --------------  Sidebar (modal) -------------- */
    main > section:nth-child(1)/* classe: container-sidebar */ {
        top: 0;
        left: 0;
        z-index: 10;
        width: 100vw;
        height: 100vh;
        position: fixed;
        background: rgb(0, 0, 0,.3);
    }

    /* -------------- Fim do Sidebar (modal) -------------- */

    main section#S2-2-DIV-1 {
        grid-template-rows: calc(100vh - 150px) 50px;
    }
}