
:root {
    --cor-principal: #0027d6;
    --cor-cinza: #969696;
    --cor-cinzaEscuro: #4b4b4b;
    --cor-dark: #2c2c2c;

    --color-branco: #ffffff;

    --color-aceite: #51fb51;
    --color-perigo: #fb5151;

}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: var(--cor-cinza);
}

.profile-photo {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
}

body {
    overflow: hidden;
}


.feed-container {
    display: grid;
    grid-template-columns: 70px calc(100vw - 70px);
}

.feed-container section {
    height: 100vh;
}

/* ====================== SIDEBAR CONTAINER ================= */
.container-sidebar {
    gap: 1rem;
    display: grid;
    flex-direction: column;
    background: var(--cor-dark);
    border-right: 1px solid var(--cor-cinzaEscuro);
    grid-template-rows: 70px calc(85vh - 70px - 1rem);

}

/* ----------- LOGO ------------- */
.container-sidebar div.logomark {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.container-sidebar div.logomark img {
    width: 55px;
}

/* ----------- SIDEBAR ------------- */

.container-sidebar div.sidebar,
.container-sidebar div.sidebar  > div {
    gap: .5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.container-sidebar div.sidebar div a {
    width: 45px;
    height: 45px;
    cursor: pointer;
    position: relative;
    align-items: center;
    border-radius: 16px;
    display: inline-block;
    justify-content: center;
    display: flex;
    color: var(--cor-cinza);
}

.container-sidebar div.sidebar div a.sidebar-items small.notification-count {
    top: 12px;
    width: 7px;
    height: 7px;
    right: 10px;
    position: absolute;
    border-radius: 50%;
    background: var(--color-perigo);
}

.container-sidebar div.sidebar div a.sidebar-items.active {
    background: var(--cor-principal);
}

.container-sidebar div.sidebar div a.active i {
    color: var(--color-branco);
}
/* =00===============  NOTIFICAÇÕES =================== */
.sidebar div a.sidebar-items .notifications-popup {
    top: 0;
    left: 70px;
    z-index: 100;
    padding: .5rem;
    width: 370px;
    position: absolute;
    border-radius: 16px;
    background: var(--cor-cinzaEscuro);

    display: none;
}

.sidebar div a.sidebar-items .notifications-popup > div {
    gap: .5rem;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    height: calc(3rem* 5);
}

.sidebar div a.sidebar-items .notifications-popup > div:first-child {
    height: auto;
}

.sidebar div a.sidebar-items .notifications-popup > div:first-child legend {
    font-size: 1rem;
    font-weight: 100;
    margin: .5rem 0 1rem 0;
}

.sidebar div a.sidebar-items .notifications-popup > div .profile-photo {
    width: 2.5rem;
    height: 2.5rem;
}

.sidebar div a.sidebar-items .notifications-popup > div .notificationItem {
    gap: 1rem;
    width: 100%;
    display: flex;
    height: 3.5rem;
    align-items: center;
}

.notifications-popup > div .notification-body {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.notifications-popup > div .notification-body p {
    width: 15rem;
    overflow: hidden;
    font-size: .9rem;
    margin-top: .2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.notifications-popup > div .notification-body p b {
    color: var(--color-branco);
}


/* =00=============== fim NOTIFICAÇÕES =================== */
.container-sidebar div.sidebar div a .abbrElement {
    top: 15px;
    left: 70px;
    z-index: 100;
    display: none;
    padding: .3rem;
    position: absolute;
    border-radius: 6px;
    background: var(--cor-cinzaEscuro);
}

.container-sidebar div.sidebar div a:hover .abbrElement {
    display: flex;
}


/* ====================== fim SIDEBAR CONTAINER ================= */
section.vitrine {
    display: grid;
    background: var(--cor-dark);
    grid-template-rows: 70px calc(100vh - 70px);
}

.vitrine > header {
    display: flex;
    padding: 0 1rem;
    align-items: center;
    justify-content: space-between;
}

header .search-container {
    height: 2.5rem;
    border-radius: 10px;
    padding: .5rem .5rem;
    background: var(--cor-cinzaEscuro);
}

header .search-container i {
    cursor: text;
    color: var(--cor-cinza);
}

header .search-container form {
    gap: .6rem;
    height: 100%;
    width: 320px;
    display: flex;
    align-items: center;
}

header .search-container form input[type="search"] {
    width: 100%;
    border: none;
    height: 1.5rem;
    font-size: .95rem;
    background: transparent;
    color: var(--color-branco);
}

header .search-container form input[type="search"]::-webkit-input-placeholder {
    color: var(--cor-cinza);
}


header .pessoal-info {
    gap: .5rem;
    display: flex;
    align-items: center;
}

header .pessoal-info .create-post {
    display: flex;
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
    border-radius: 50%;
    position: relative;
    align-items: center;
    justify-content: center;
    color: var(--cor-cinza);
    background: var(--cor-cinzaEscuro);
}

header .pessoal-info .create-post:hover::after {
    position: absolute;
    content: "Criar Post";
    top: 45px;
    width: 4rem;
    height: 1.3rem;
    font-size: 12px;
    text-align: center;
    border-radius: 4px;
    line-height: 1.3rem;
    background: #4b4b4b;

    z-index: 100;
}

/* ========  Modal post ========== */
header .modal-create-post {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 10000;
    position: absolute;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    

    display: none;
}

header .modal-create-post > div {
    padding: 1rem;
    border-radius: 16px;
    background: var(--cor-cinzaEscuro);
}


header .modal-create-post > div .profile {
    gap: .5rem;
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    color: var(--color-branco);
}

header .modal-create-post > div form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-branco);
    justify-content: flex-start;
}

header .modal-create-post > div form textarea {
    width: 40vw;
    height: 50vh;
    padding: .5rem;
    font-size: 1rem;
    margin-bottom:1rem;
    color: var(--color-branco);
    background: var(--cor-dark);
    font-family: 'Ubuntu','Poppins', sans-serif;
}

header .modal-create-post > div form label {
    gap: .5rem;
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-bottom: 1rem;
}

header .modal-create-post > div form label i {
    font-size: 1.2rem;
}

header .modal-create-post > div form label span {
    font-size: .9rem;
}

header .modal-create-post > div form label:hover span {
    text-decoration: underline;
}

header .modal-create-post > div form input[type="file"] {
    display: none;
}

header .modal-create-post > div .profile-photo  {
    border: 1px solid var(--cor-dark);
}

header .modal-create-post > div form .controls-post {
    width: 100%;
    height: 45px;
    display: flex;
    padding: .3rem;
    align-items: center;
    border-radius: 16px;
    background: /* var(--cor-cinza) */ rgba(201, 201, 201, 0.2);
    justify-content: space-between;
}

header .modal-create-post > div form .controls-post input {
    width: 100px;
    border: none;
    cursor: pointer;
    background: transparent;
    color: var(--color-branco);
}

header .modal-create-post > div form .controls-post input[type="submit"] {
    height: 100%;
    border-radius: 12px;
    background: var(--cor-principal);
}

header .modal-create-post > div form .controls-post input[type="button"]:hover {
    text-decoration: underline;
}

/* ======== Fim Modal post ========== */

header .pessoal-info .profile-photo img {
    cursor: pointer;
}

/* ======================= MAIN ======================== */
main {
    height: calc(100vh - 70px);
    display: grid;
    color: var(--color-branco);
    grid-template-columns: calc(100vw - 350px - 70px) 350px;
}




/* ----------  QUADRO DE HONRRAS  ----------- */
main section div.qhonrras {
    width: 100%;
    height: 100%;
    padding: 1rem;
    backdrop-filter: blur(5px);
    height: calc(100vh - 70px);
    border-radius: 26px 0 0 26px;
    border-top: 1px solid #707070;
    border-left: 1px solid #707070;
    -webkit-backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
}

main section div.qhonrras .profile-photo {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

main section div.qhonrras h2 {
    font-weight: 300;
    font-size: 1.2rem;
}

main section div.qhonrras p {
    color: var(--cor-cinza);
}

.secand-third-ranking {
    display: grid;
    row-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

.secand-third-ranking > div:nth-child(1),
.secand-third-ranking > div:nth-child(2) {
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secand-third-ranking > div:nth-child(2) {
    gap: .5rem;
}

.ranking {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    border-radius: 16px;
    padding: .5rem;

    border-top: 1px solid #707070;
    border-left: 1px solid #707070;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    
}



.first-ranking  {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    justify-content: center;
    background: linear-gradient(45deg,rgba(219, 188, 10, 0.1) , transparent, rgba(6, 36, 207, 0.158));
}

.first-ranking > div {
    width: 100%;
    display: flex;
    margin-bottom: .5rem;
    align-items: center;
    justify-content: center;
}

.first-ranking .profile-photo {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: 3px solid #70D1F4;
}

.secand-ranking {
    background: linear-gradient(
        45deg,
        rgba(255, 0, 234, 0.1), 
        transparent, 
        rgba(6, 207, 16, 0.158));
}

.secand-ranking .profile-photo {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 3px solid #DAA520;
}

.third-ranking {
    background: linear-gradient(
        45deg,
        rgba(0, 255, 136, 0.247), 
        transparent, 
        rgba(5, 83, 35, 0.459));
}
.third-ranking .profile-photo {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 3px solid #CBCDCC;
}

.outher-ranking {
    background: linear-gradient(
        45deg,
        rgba(99, 172, 105, 0.247), 
        transparent, 
        rgba(174, 255, 205, 0.219));
}

.outher-ranking .profile-photo {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 3px solid #A07155;
}



.vitrine > main > section:nth-child(1){
    padding: 0 2rem 0 2rem;    
}

.slid-actions article {
    width: 100%;
    height: 270px;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid #707070;
    border-left: 1px solid #707070;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.slid-actions article h1 {
    font-weight: 500;
    font-size: 1rem;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: .4rem;
    border-radius: .5rem;
    padding: .2rem .5rem;
    background: var(--color-perigo);
}

.slid-actions article > div:nth-child(1) > div:nth-child(1) p {
    font-size: 1.5rem;
}

.slid-actions article img {
    width: 390px;
}

.slid-actions article > div:nth-child(1) {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    
}

.slid-actions article > div .crono-actividade {
    gap: 1.5rem;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    padding: .5rem;
    position: relative;
    align-items: center;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid #707070;
    border-left: 1px solid #707070;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}


.slid-actions article > div .crono-actividade::before {
    content:"Proxima actividade em:";
    position: absolute;
    top: -25px;
    left: 0%;
    font-size: .95rem;
    color: var(--cor-cinza);
}

.slid-actions article > div .crono-actividade p {
    font-size: .9rem;
    color: var(--color-aceite);
    margin-bottom: .3rem;
}

.slid-actions article > div .crono-actividade span {
    font-size: 1.4rem;
}

.slid-actions article > div .crono-actividade button {
    height: 100%;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 16px;
    color: var(--color-branco);
    background: var(--cor-principal);
}


.main-actividade {
    margin-top: -369px;
}

.main-actividade legend {
    color: var(--cor-cinza);
}

.main-actividade .slide-activiades-recentes {
    gap: 1rem;
    display: flex;
    margin-top: 1rem;
    align-items: center;
}

.main-actividade .slide-activiades-recentes .slide-act-rec-item {
    width: 300px;
    height: 150px;
    overflow: hidden;
    position: relative;
    border-radius: 16px;
    transition: 700ms;
    cursor: pointer;
}

.slide-act-rec-item:hover {
    transform: scale(1.07);
}

.slide-act-rec-item:hover .modal-info-act-recent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding: 1rem;
    font-weight: 600;
    font-size: 1.5rem;
    align-items: flex-end;
    background: linear-gradient(rgba(0, 0, 0, 0.3)70% , rgba(0, 0, 0, 0.507) 90%);
}

.slide-act-rec-item .modal-info-act-recent p {
    transform: translateY(50px);
    transition: transform 700ms;
}

.slide-act-rec-item:hover .modal-info-act-recent p {
    transform: translateY(0px);
}